<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${matterInfo.matter.name} + '申请'"></title>
</head>
<body>
    <form name="frm" th:action="@{/apply/submit/info}" method="post">
        <input type="hidden" name="matterId" th:value="${matterInfo.matter.id}">
        <input type="hidden" name="matterCode" th:value="${matterInfo.matter.code}">
        <div th:each="element,stat :${matterInfo.elements}">
            <input type="hidden" th:name="'askInfos[' + ${stat.count - 1} + '].dictCode'" th:value="${element.dictCode}">
            <input type="hidden" th:name="'askInfos[' + ${stat.count - 1} + '].dictId'" th:value="${element.dictId}">
            <input type="hidden" th:name="'askInfos[' + ${stat.count - 1} + '].dictName'" th:value="${element.dictName}">
            <p th:value="${element.dictName}"></p>
            <input th:name="'askInfos[' + ${stat.count - 1} + '].userFill'" th:type="${element.style}">
        </div>
        <input type="submit" name="提交申请">
    </form>
</body>
</html>